
$navbar-height: 60px;
.aside{
  overflow: hidden;
  float: left;
  background: #3D464D;
  color: white;
  font-size:14px;
  height:calc(100vh - 60px);   //視窗100%,這裏一定要在-左右兩邊留空格
  //只默認顯示一級菜單，之後的菜單默認隱藏
 
  ul{
    transition: all .3s;
    cursor: pointer;  //指向時變成手掌,和指向button按鈕一樣的效果
    margin-top: 0px;
    padding:0px;
  }
  li{
    list-style-type:none;   //去掉小黑點
    padding: 0px;
    height: 40px;
    cursor: pointer;  //指向時變成手掌,和指向button按鈕一樣的效果
    padding:20px 30px 0px;  //上20
    text-align: left;
  }
  .li2{
    padding:20px 50px 0px;  //上20
  }
  li:hover{
    background: #31383E;
  }
  //mouseover出現的菜單

}
.hidden{
  display: none;
}
.show{
  display: block;
}