.top-div {
  height: 60px;
  line-height: 60px;
  background: linear-gradient(90deg, #4a66f2, #54bbf2);
}

.top-sencond {
  width: 58px;
  height: 60px;
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  line-height: 60px;
  cursor: pointer;
  float: left;
}

.top-first {
  color: white;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  float: left;
}
